<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bluebird.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="Grunt" version="0.1.13" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="lodash.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc.fr" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor.fr" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.fr" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Node.js" version="0.10.26.1" targetFramework="net452" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="NoGit" version="0.0.5" targetFramework="net452" />
  <package id="Npm" version="1.4.4" targetFramework="net452" />
  <package id="validator.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
</packages>