.full-size{
    height:100%;
    width:100%
}
::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 950px)

{

html, body {
    font-family: amaranth;
	font-size: 20px;
	line-height: 1.4;
	height: 100%;
    width:100%;
	margin-top: 0 !important;
	padding-top: 0 !important;
    overflow:hidden;
}


.navigation-header{
    width:100%;
    z-index:1;
    color:white;
    box-shadow: 0 5px 3px black;
    margin-bottom:2px;
    padding: 0 1% 0 1% ;

    background:   -moz-radial-gradient(left, #1477C3, #032743);
    background:-webkit-radial-gradient(left, #1477C3, #032743);
    background:        radial-gradient(left, #1477C3, #032743);  

    /*background:   -moz-radial-gradient(left, #1477C3, #032743);
    background:-webkit-radial-gradient(left, #1477C3, #032743);
    background:        radial-gradient(left, #1477C3, #032743);*/ 
    
    /*arrondir les coins*/
/*-moz-border-radius:10px 10px;
-webkit-border-radius:10px 10px;
border-radius:10px 10px;*/   
}

.navigation-menu{
    color:black;
    background-color:#85AECD;
    box-shadow: 3px 0px 4px black;
    left:0;

    /*background:   -moz-radial-gradient(bottom, white, #074C81);
    background:-webkit-radial-gradient(bottom, white, #074C81);
    background:        radial-gradient(bottom, white, #074C81);*/ 
    
    /*arrondir les coins*/
   /*-moz-border-radius: 0px 0px 10px 0px;
-webkit-border-radius: 0px 0px 10px 0px;
        border-radius: 0px 0px 10px 0px;*/   
}

.navigation-element{
    display:flex;
    height:10%;
    align-items: center;
    border-bottom:solid;
    border-bottom-color:black;
    background-color:#09548E;
    padding-left:5%;
    background:   -moz-radial-gradient(left, #85AECD, #032743);
    background:-webkit-radial-gradient(left, #85AECD, #032743);
    background:        radial-gradient(left, #85AECD, #032743);  

}

.navigation-element:hover{
    cursor:pointer;
    background:   -moz-radial-gradient(left, #032743, #85AECD);
    background:-webkit-radial-gradient(left, #032743, #85AECD);
    background:        radial-gradient(left, #032743, #85AECD);  

}
.header-text{
    font-size: 18px;
    color:white;
    cursor:pointer;
    text-shadow: 1px 1px 1px #1477C3;
}

.element-label{
    font-size: 25px;
    color:white;
    width:100%;
    margin-left:-40px;
    margin-top:10px;
    text-align:center;
    font-weight: bold;
}

.menu-glyph{
    font-size: 40px;
    color:#1477C3;
    margin: 5px; 
    cursor:pointer;
    text-shadow: 1px 1px 1px white;
    
    /*horizontal vertical blur color*/
}
.small-menu-glyph{
    font-size: 25px;
    color:#1477C3;
    margin: 3px; 
    cursor:pointer;
    text-shadow: 1px 1px 1px white;
}
.menu-glyph:hover{
    font-size: 45px;
    margin: 0px; 
}

.small-menu-glyph:hover{
    font-size: 30px;
    color:red;
    margin: 0px; 
}
.flex-line{
    display: flex; 

    -ms-flex-direction: row;
    -webkit-flex-direction: row; 
    flex-direction: row; 

    justify-content:space-around; 
    align-items:center;
}
#nav-hd-paramicons{
    width:12%;
}
#nav-hd-logpanel{
    width:21.3333%;
    border-right:none;
}
#test{
    display: flex;
}
#test2{
    flex-basis:17%
}
.center-justified{
    justify-content:center;
    text-align:center;
}
    .datepicker {
        border: 1px solid #cccccc;
        font-size: 18px;
        height: inherit;
        -webkit-box-shadow: -2px 2px 5px #101094;
        box-shadow: inset 0 2px 5px #101094;
        -moz-border-radius: 4px 4px;
        -webkit-border-radius: 4px 4px;
        border-radius: 4px 4px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
    }
.mainview{
    position:relative;
    overflow-y:auto;
    /*horizontal vertical blur color*/
    border-top:hidden;
    background-color:transparent;
    padding: 2% 2% 2% 2%;
}
    .page-container {
        background-color: white;
        padding-top: 1%;

        box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
        -moz-border-radius: 4px 4px;
        -webkit-border-radius: 4px 4px;
        border-radius: 4px 4px;
        width:100%;
    }
    .valid-line{
        border-left-color: green;
    }
    .invalid-line{
        border-left-color: red;
    }
.col-header{
    width: 4%;
}

body{
    padding-top: 20px;
}

.view-contained {
    margin: auto;
}

.view-events{
   height: 95%;
   width: 94%;
   position:absolute;
   background-color: cornflowerblue;
  z-index: 1;
}
.highlightCell{
    background-color: ActiveCaption;
}

.row-calendars {
    background-color: inherit;
    text-align: center;
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    padding-top:1%;
}


.view-container {
  position: relative;
  padding: 30px;
}


.planningboard{
    margin-top:5px;
    color:white;
    box-shadow: 2px 2px 1px #101094;

    background:   -moz-linear-gradient(right, grey, white);
    background:-webkit-linear-gradient(right, grey, white);
    background:        linear-gradient(right, grey, white); 
    
}
.planningboardheaders{
    margin-top:5px;
    color:white;
    border-color:white;
    text-align:center;
    background:#1477C3;
}

#pres{
	text-align: center;
}

	

	.header__icon

	{

		display: none;

	}

	

	#titre

	{

		position: relative;

		margin: auto;

	}

}





#bandeau_co

{

	width: 100%;
	margin-left: 0;

	color: #FFF;

	background: #651fff;

}



.bandeau button

{

	right: 10px !important;

}



/***********************************RESPONSIVE************************************/



@media only screen and (max-width: 950px)

{

	

	html, body

{

	font-family: amaranth;

	font-size: 20px;

	line-height: 1.4;

	height: 100%;

	

	margin: 0;

	padding: 0;

}



.nav a

{

	text-decoration: none;

	color: #FFF;

}



.header

{

	position: static;

	left: 0;

	right: 0;

	margin-top: -20px;

	height: 80px;

	line-height: 80px;

	color: #FFF;

	background: #03a9f4;

	border-bottom: 1px solid #FFF;

}



.header__logo

{

	display: none;

	

}



#log

{

	top: 80px;

}



#nav

{

	position: absolute;

	left: -150px;

	top: 80.5px;

	bottom: 0;

	width: 150px;

	background: #03a9f4;

	

	

}

	

	#nav a

	{

		display: block;

		height: 40px;

		text-align: center;

		line-height: 40px;

		border-bottom: 1px solid #FFF;

		padding-top: 15px;

		padding-bottom: 15px;

	}



#pres

{

	text-align: center;

}

	

	.header__icon

	{

		position: relative;

		display: block;

		float: left;

		width: 40px;

		height: 55px;

		cursor: pointer;

		padding-top: 10px;

	}

	

	#imgmenu

	{

		width: 50px;

		position: relative;

		float: left;

		left: 0;

	}

	

	.with--sidebar

	{

		

	}

	

	.header a

	{

		padding-bottom: 10px;

	}

	

	.container

	{

		margin-top: 20px !important;

	}

}



#imsports

{

	width: 60vw;

	float: left;

	margin-left: 20vw;

	margin-top: 120px;

}



#log p

{

	width: 60vw;

	text-align: center;

	position: absolute;

	float: left;

	top: 70%;

	left: 20vw;

}



#log .form

{

	position: absolute;

	float: left;

	top: 80%;

	width: 20vw;

	left: 40vw;

}



#deco

{

	display: none;

	position: relative;

	float: right;

	margin-right: 20px;

	color: #FFF;

}



#connec

{

	position: relative;

	float: right;

	margin-right: 20px;

	color: #FFF;

}



li

{

	list-style: none;

}



.bonjour

{

	position: absolute;

	text-align: right;

	color: #FFF;

	padding-left: 20px;

}



span

{

	display: inline;

}



.domaine

{

	width: 250px;

}



.ajout_salle

{

	width: 500px;

}



.first

{

	text-align: right;

}